In [18]:
import pandas as pd

df=pd.read_csv('customers.csv')
df

,customerid,firstname,lastname,email,phone,streetaddress,city,state,country,dateofbirth,registrationdate,isactive,latitude,longitude,postalcode
0,69,Emily,Taylor,jenniferbarnes@example.org,001-421-993-6191x573,"Lake Andrea, Pleasant Prairie, Kenosha County,...",Lake Andrea,NaN,United States,2005-12-30,2021-03-06 09:18:25,True,42.531818,-87.918653,NaN
1,70,Ethan,Jones,jesseharrison@example.org,506.995.6901,"Gibsonville, Guilford County, North Carolina, ...",Gibsonville,NaN,United States,1966-11-02,2023-05-19 09:49:13,False,36.097920,-79.545833,NaN
2,71,Sandra,Tanner,cunninghamerica@example.net,915-744-5575,"Kelly Park Hills South, Orange County, Florida...",South Kelly,NaN,United States,1960-09-11,2020-03-13 23:07:29,True,28.755521,-81.531793,NaN
3,72,Evan,Kelley,christina14@example.com,352.388.7200,"Mileston, Holmes County, Mississippi, United S...",Mileston,NaN,United States,2002-06-11,2021-03-06 13:57:44,False,33.110405,-90.273420,NaN
4,73,Christine,Clark,underwoodshawn@example.com,(664)665-2897,"Lake Elizabeth, Los Angeles County, California...",Lake Elizabeth,NaN,United States,1954-07-05,2021-08-31 12:36:45,False,34.666136,-118.399680,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,603,Bradley,Lamb,allison41@example.net,(291)597-8141x48565,"Lake Helen, Volusia County, Florida, 32744, Un...",Lake Helen,NaN,United States,1998-10-04,2021-08-23 18:58:16,False,28.980820,-81.233394,NaN
535,604,Joe,Kramer,lindsay15@example.org,001-809-564-2850x314,"Lake Michelle, Orlando, Orange County, Florida...",Lake Michelle,NaN,United States,1967-09-21,2023-09-23 15:33:30,False,28.456950,-81.302177,NaN
536,605,Kevin,Macdonald,wrightmark@example.org,+1-436-770-6385x925,"Stephenville, Erath County, Texas, United States",Stephenville,NaN,United States,1986-09-22,2021-11-10 07:45:48,True,32.219184,-98.213063,NaN
537,606,Lisa,Morrison,stacyreed@example.org,774-257-9789x46847,"Lauratown, Lawrence County, Arkansas, United S...",Lauratown,NaN,United States,1938-08-21,2021-03-31 03:47:10,True,36.020071,-91.088458,NaN
538,607,Daniel,Simon,qsaunders@example.net,+1-571-415-1078,"North Twin Lake, Carbon County, Wyoming, Unite...",North Ryan,NaN,United States,1965-01-24,2023-02-01 13:59:15,True,41.350026,-106.349980,NaN

In [19]:
pattern = r'(\b\d{5}\b)' #us zipcode pattern

df['postalcode'] = df['streetaddress'].str.extract(pattern)

df['streetaddress'] = df['streetaddress'].str.replace(pattern + r',?\s*', '', regex=True)

df

     customerid  firstname   lastname                        email  \
0            69      Emily     Taylor   jenniferbarnes@example.org
1            70      Ethan      Jones    jesseharrison@example.org
2            71     Sandra     Tanner  cunninghamerica@example.net
3            72       Evan     Kelley      christina14@example.com
4            73  Christine      Clark   underwoodshawn@example.com
..          ...        ...        ...                          ...
534         603    Bradley       Lamb        allison41@example.net
535         604        Joe     Kramer        lindsay15@example.org
536         605      Kevin  Macdonald       wrightmark@example.org
537         606       Lisa   Morrison        stacyreed@example.org
538         607     Daniel      Simon        qsaunders@example.net

                    phone                                      streetaddress  \
0    001-421-993-6191x573  Lake Andrea, Pleasant Prairie, Kenosha County,...
1            506.995.6901  Gibsonville, Guilford County, North Carolina, ...
2            915-744-5575  Kelly Park Hills South, Orange County, Florida...
3            352.388.7200  Mileston, Holmes County, Mississippi, United S...
4           (664)665-2897  Lake Elizabeth, Los Angeles County, California...
..                    ...                                                ...
534   (291)597-8141x48565  Lake Helen, Volusia County, Florida, United St...
535  001-809-564-2850x314  Lake Michelle, Orlando, Orange County, Florida...
536   +1-436-770-6385x925   Stephenville, Erath County, Texas, United States
537    774-257-9789x46847  Lauratown, Lawrence County, Arkansas, United S...
538       +1-571-415-1078  North Twin Lake, Carbon County, Wyoming, Unite...

               city  state        country dateofbirth     registrationdate  \
0       Lake Andrea    NaN  United States  2005-12-30  2021-03-06 09:18:25
1       Gibsonville    NaN  United States  1966-11-02  2023-05-19 09:49:13
2       South Kelly    NaN  United States  1960-09-11  2020-03-13 23:07:29
3          Mileston    NaN  United States  2002-06-11  2021-03-06 13:57:44
4    Lake Elizabeth    NaN  United States  1954-07-05  2021-08-31 12:36:45
..              ...    ...            ...         ...                  ...
534      Lake Helen    NaN  United States  1998-10-04  2021-08-23 18:58:16
535   Lake Michelle    NaN  United States  1967-09-21  2023-09-23 15:33:30
536    Stephenville    NaN  United States  1986-09-22  2021-11-10 07:45:48
537       Lauratown    NaN  United States  1938-08-21  2021-03-31 03:47:10
538      North Ryan    NaN  United States  1965-01-24  2023-02-01 13:59:15

     isactive   latitude   longitude postalcode
0        True  42.531818  -87.918653        NaN
1       False  36.097920  -79.545833        NaN
2        True  28.755521  -81.531793        NaN
3       False  33.110405  -90.273420        NaN
4       False  34.666136 -118.399680      93532
..        ...        ...         ...        ...
534     False  28.980820  -81.233394      32744
535     False  28.456950  -81.302177        NaN
536      True  32.219184  -98.213063        NaN
537      True  36.020071  -91.088458        NaN
538      True  41.350026 -106.349980        NaN

[539 rows x 15 columns]

In [20]:
def extract_state(address):
    parts = address.split(', ')
    try:
        us_index = parts.index('United States')
        if us_index > 0:
            return parts[us_index - 1]
    except ValueError:
        return None

#apply the result to the new address column
df['state'] = df['streetaddress'].apply(extract_state)
df

,customerid,firstname,lastname,email,phone,streetaddress,city,state,country,dateofbirth,registrationdate,isactive,latitude,longitude,postalcode
0,69,Emily,Taylor,jenniferbarnes@example.org,001-421-993-6191x573,"Lake Andrea, Pleasant Prairie, Kenosha County,...",Lake Andrea,Wisconsin,United States,2005-12-30,2021-03-06 09:18:25,True,42.531818,-87.918653,NaN
1,70,Ethan,Jones,jesseharrison@example.org,506.995.6901,"Gibsonville, Guilford County, North Carolina, ...",Gibsonville,North Carolina,United States,1966-11-02,2023-05-19 09:49:13,False,36.097920,-79.545833,NaN
2,71,Sandra,Tanner,cunninghamerica@example.net,915-744-5575,"Kelly Park Hills South, Orange County, Florida...",South Kelly,Florida,United States,1960-09-11,2020-03-13 23:07:29,True,28.755521,-81.531793,NaN
3,72,Evan,Kelley,christina14@example.com,352.388.7200,"Mileston, Holmes County, Mississippi, United S...",Mileston,Mississippi,United States,2002-06-11,2021-03-06 13:57:44,False,33.110405,-90.273420,NaN
4,73,Christine,Clark,underwoodshawn@example.com,(664)665-2897,"Lake Elizabeth, Los Angeles County, California...",Lake Elizabeth,California,United States,1954-07-05,2021-08-31 12:36:45,False,34.666136,-118.399680,93532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,603,Bradley,Lamb,allison41@example.net,(291)597-8141x48565,"Lake Helen, Volusia County, Florida, United St...",Lake Helen,Florida,United States,1998-10-04,2021-08-23 18:58:16,False,28.980820,-81.233394,32744
535,604,Joe,Kramer,lindsay15@example.org,001-809-564-2850x314,"Lake Michelle, Orlando, Orange County, Florida...",Lake Michelle,Florida,United States,1967-09-21,2023-09-23 15:33:30,False,28.456950,-81.302177,NaN
536,605,Kevin,Macdonald,wrightmark@example.org,+1-436-770-6385x925,"Stephenville, Erath County, Texas, United States",Stephenville,Texas,United States,1986-09-22,2021-11-10 07:45:48,True,32.219184,-98.213063,NaN
537,606,Lisa,Morrison,stacyreed@example.org,774-257-9789x46847,"Lauratown, Lawrence County, Arkansas, United S...",Lauratown,Arkansas,United States,1938-08-21,2021-03-31 03:47:10,True,36.020071,-91.088458,NaN
538,607,Daniel,Simon,qsaunders@example.net,+1-571-415-1078,"North Twin Lake, Carbon County, Wyoming, Unite...",North Ryan,Wyoming,United States,1965-01-24,2023-02-01 13:59:15,True,41.350026,-106.349980,NaN

In [21]:
df.to_csv('customerstest.csv')